<div style="padding-left:16px;padding-right:16px;float:right;">
    <div class="panel panel-default" style="margin:2px;">
        <div class="panel-body" style="float:right;text-align:right; word-wrap:break-word;padding: 3px;background-color: #e6f1f7;">
            <p class="text-muted pull-left small" style="height: 8px;font-size:1.0em">{{chat.name}} &nbsp;&nbsp;</p>
            <p class="text-muted pull-left" style="height: 8px;"><small> {{ chat.date | date:'h:mma'}}</small></p><br>
            <p ng-bind-html="chat.text.text | trustAsHtml" style="color:blue;margin:0; font-size:1.2em"></p>
        </div>
    </div>
</div>